html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .7rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #94dbf7;
    border-radius: 5rem;
}

body{
	margin: 0; 
	color: #40514E;
	text-align: center;
	font-family: 'Merriweather', serif;
	/*background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;*/
}

.top-container{
	background-color: #E4f9F5;
	position: relative;
	padding-top: 100px; 
}

.navbar
{
	/*margin-top: 20px;*/
	display: flex;
	align-content: center;
	justify-content: space-around;
	/*background-color: tomato;*/
	border-radius: 25px;
	position: fixed;
	z-index: 1000;
	width: 100%;
}
.navbar ul
{
	overflow: auto;
	display: flex;
}
.navbar li
{
	/*float: left;*/
	list-style: none;
	margin: 10px 12px;

}
.navbar li a
{
	text-decoration: none;
	padding: 6px 5px;
	color: black;
	font-size: 20px;
	font-weight: 700;
}


nav.sticky {
    background-color: tomato;    
    width: 100%;

}

.navbar li a:hover{
	color: #66BFBF;
}
nav.sticky a {
	color: white;
}
nav.sticky a:hover{
	color: #faf8a0;
    font-weight: 700;
}
nav.sticky ul li::after{
    background-color: white;
}
/*div
{
    float: right;
}*/
.search{
    padding: 15px 15px;
   
}
.search input
{
    border-radius: 35px;
    height: 25px;
    padding-left: 10px;
}

h1{
	color: #66BFBF;
	font-size: 5.625rem;/*100% = 16px = 1em here we use % so that when we change the font size settings in google we get the dynamic respective result else we would get the static size that we have mentioned.*/
	margin: 35px auto 0 auto;
	font-family: 'Sacramento', cursive;
	line-height: 2;
}
h2{
	color: #66BFBF;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.3rem;
	font-weight: normal;
	padding-bottom: 10px;
}
h3{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
}

.middle-container{
	margin: 100px 0;
}

.me{
	height: 20rem;
	width: 18rem;
	border-radius: 100%;
}

.about{
	line-height: 2;
	padding-left: 25%;
	padding-right: 25%;
}

.emoji{
	font-size:50px;
}

.bottom-container{
	background-color: #66BFBF;
	padding: 50px 0 20px;
}
.top-cloud{
	position: absolute;
	right: 220px;
	top: 70px;
}
.bottom-cloud{
	position: absolute;
	left: 200px;
}
.coding1{
	/*position: absolute;
	right: 300px;*/
	padding-top: 90px;
	padding-bottom: 40px;
	background-color: #E4f9F5;
}
.skill-row{
	width: 50%;
	margin: 100px auto 100px auto; 
	text-align: left;
	line-height: 2;
}
.coding{
	width: 35%;
	float: left;
	margin-top: 10rem;
	margin-right: 30px;
}

.ed{
	line-height: 3;
}

.table:hover{
	background-color: #fff79c;
}


.achievement{
	width: 35%;
	float: right;
	margin-left: 30px;

}

.music{
	width: 25%;
	float: left;
	margin-right: 30px;
}

/*.c{
	clear: left;
}
.m{
	clear: right;
}*/
.love-music{
	width: 40%;
	line-height: 2;
	margin: 40px auto 60px;
}

.contact-me{
	margin-bottom: 7rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}
a:hover{
	color: #EAF6F6;
}
hr{
	border: dotted #c9c8c3 10px;
	border-bottom: none;
	width: 3%;
	margin: 100px auto;
}
.copyright{
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0;
}